<div class="body">
  <div class="flex justify-between mt-5 mr-5">
    <div></div>
    <!-- <button (click)="goToImportScreen()" class="bg-blue-900 hover:bg-blue-800 active:bg-blue-900 text-white px-5 py-1 rounded">
        <i class="bi bi-file-earmark-arrow-down-fill"></i>
        Importer les Etudiants
      </button> -->
  </div>
  <form class="w-1/2 min-w-72" #f="ngForm" (submit)="onSubmit()">
    <div class="relative w-full mb-5 group">
      <input
        type="text"
        name="name"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-b-2 z-0 appearance-none borde-gray-600 focus:border-green-800 focus:outline-none focus:ring-0 peer"
        placeholder=""
        required
        ngModel
      />
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-green-800 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Name</label
      >
    </div>
    <div class="relative w-full mb-5 group">
      <input
        type="email"
        name="email"
        minlength="6"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-b-2 z-0 appearance-none borde-gray-600 focus:border-green-800 focus:outline-none focus:ring-0 peer"
        placeholder=""
        required
        ngModel
      />
      <label
        for="floating_password"
        class="peer-focus:font-medium absolute text-sm text-green-800 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Email</label
      >
    </div>
    <div class="relative w-full mb-5 group">
      <input
        type="password"
        name="password"
        minlength="6"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-b-2 z-0 appearance-none borde-gray-600 focus:border-green-800 focus:outline-none focus:ring-0 peer"
        placeholder=""
        required
        ngModel
      />
      <label
        for="floating_password"
        class="peer-focus:font-medium absolute text-sm text-green-800 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Password</label
      >
    </div>

    <div class="relative w-full mb-5 group">
      <select
        name="role"
        [(ngModel)]="roleValue"
        (change)="onRoleChange()"
        id="underline_select"
        class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-b-2 border-gray-200 appearance-none focus:border-b-green-800 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
      >
        <option value="" disabled selected>selection un role</option>
        <option value="user">User</option>
        <option value="admin">Admin</option>
        <option value="scolarite">Scolarité</option>
        <option value="super-admin">Super admin</option>
      </select>
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-green-800 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Role</label
      >
    </div>

    <div
      *ngIf="roleValue != '' && roleValue != 'super-admin'"
      class="relative w-full mb-5 group"
    >
      <label for="underline_select" class="sr-only">Underline select</label>
      <select
        name="faculte"
        ngModel
        id="underline_select"
        class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-b-2 border-gray-200 appearance-none focus:border-b-green-800 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
      >
        <option value="" selected disabled>Selection la faculte</option>
        <option value="medecine">medecine</option>
        <option value="pharmacie">Pharmacie</option>
        <option value="dentaire">Dentaire</option>
        <option value="fsts">Fsts</option>
      </select>
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-green-800 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Faculte</label
      >
    </div>

    <div class="">
      <button
        class="mt-3 border-none bg-green-500 w-full py-1 text-white hover:bg-green-400 active:bg-green-500"
      >
        <i class="bi bi-send text-sm mr-2"></i>Submit
      </button>
    </div>
  </form>
</div>

<app-loading *ngIf="loading"></app-loading>
