.custom-width {
    width: 60vw;
    overflow-x: hidden;
}


.p-datatable .p-paginator-bottom  {
    width: 60em;
    background-color: red;
}

.p-paginator {
    background-color: transparent;
    width: 60em;
}