.backImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/images/um6ss_login.png") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.backImage::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.loginForm {
    width: fit-content;
    background-color: rgba(217, 217, 217, 0.5);
    --width: 35em;
    width: var(--width);
    display: flex;
    margin: auto;
    margin-top: calc(100vh/2 - 530px/2)
}

.side-form {
    background-color: rgba(255, 255, 255, 0.7);
    height: 480px;
    width: 219px;
    display: flex;
    width: calc(var(--width) / 4)
}

.content-form {
    padding: 1em;
    width: calc(var(--width) - var(--width) / 4);
    background-color: rgba(0, 0, 0, 0.377);
    /* width: 100%; */
}

.logo {
    width: 7em;
    display: block;
    margin: auto;
}

h4 {
    color: white;
    width: 18em;
    margin-bottom: 3.5em;
    margin-top: 1em;
    font-family: Roboto Condensed;
    text-wrap: balance;
}

.form-group {
    margin-block: 1em;
    width: 100%;
}

.form-group label {
    display: block;
    background-color: rgb(217, 217, 217);
    padding: .0em 1.5em;
    border-radius: .2em;
    margin-bottom: .3em;
    font-size: 1em;
    width: 10em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: arial;
}

.form-group input {
    background-color: rgba(0, 0, 0, 0.7);
    padding: .8em 1em;
    display: block;
    width: -webkit-fill-available;
    outline: none;
    border: none;
    color: white;
    width: 100%;
}

.form-group input:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.form-group input:focus {
    background-color: rgba(0, 0, 0, 0.9);
}

.form-action button {
    display: block;
    width: 100%;
    background-color: white;
    border: none;
    padding: .5em 1em;
    margin-top: 3.5em;
}

.form-action button:hover {
    background-color: rgb(241, 241, 241);
}
.form-action button:active {
    background-color: white;
}