<div class="body min-h-screen p-6">
  <div class="max-w-4xl mx-auto bg-white rounded-xl shadow-md overflow-hidden">
    <!-- Header avec bouton d'import -->
    <div class="flex justify-between items-center p-6 bg-gradient-to-r from-blue-800 to-blue-600">
      <h2 class="text-xl font-bold text-white">Modification des Examens</h2>

    </div>

    <!-- Formulaire de modification -->
    <form class="p-8" (submit)="onSubmit()" #f="ngForm">
      <!-- Section Principale -->
      <div class="grid md:grid-cols-2 gap-8 mb-8">
        <!-- Titre -->
        <div class="form-group">
          <label class="block text-gray-700 text-sm font-medium mb-2"
            >Titre</label
          >
          <div class="relative">
            <i
              class="bi bi-card-heading absolute left-3 top-3 text-gray-400"
            ></i>
            <input
              type="text"
              name="title"
              class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
              required
              [ngModel]="this.examen.title"
            />
          </div>
        </div>

        <!-- Date -->
        <div class="form-group">
          <label class="block text-gray-700 text-sm font-medium mb-2"
            >Date</label
          >
          <div class="relative">
            <i
              class="bi bi-calendar-date absolute left-3 top-3 text-gray-400"
            ></i>
            <input
              type="date"
              name="date"
              class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
              required
              [ngModel]="this.examen.date"
            />
          </div>
        </div>
      </div>

      <!-- Horaires -->
      <div class="mb-8">
        <h3
          class="text-lg font-semibold text-gray-800 mb-4 flex items-center gap-2"
        >
          <i class="bi bi-clock"></i>
          <span>Horaires</span>
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Heure Début -->
          <div class="form-group">
            <label class="block text-gray-700 text-sm font-medium mb-2"
              >Heure de début</label
            >
            <div class="relative">
              <i
                class="bi bi-clock-fill absolute left-3 top-3 text-gray-400"
              ></i>
              <input
                type="time"
                name="hour_debut"
                class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
                required
                [ngModel]="this.examen.hour_debut"
              />
            </div>
          </div>

          <!-- Heure Fin -->
          <div class="form-group">
            <label class="block text-gray-700 text-sm font-medium mb-2"
              >Heure de fin</label
            >
            <div class="relative">
              <i
                class="bi bi-clock-fill absolute left-3 top-3 text-gray-400"
              ></i>
              <input
                type="time"
                name="hour_fin"
                class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
                required
                [ngModel]="this.examen.hour_fin"
              />
            </div>
          </div>

          <!-- Heure Pointage -->
          <div class="form-group">
            <label class="block text-gray-700 text-sm font-medium mb-2"
              >Heure de pointage</label
            >
            <div class="relative">
              <i class="bi bi-alarm absolute left-3 top-3 text-gray-400"></i>
              <input
                type="time"
                name="hour_debut_pointage"
                class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
                required
                [ngModel]="this.examen.hour_debut_pointage"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Filtres -->
      <div class="mb-8">
        <h3
          class="text-lg font-semibold text-gray-800 mb-4 flex items-center gap-2"
        >
          <i class="bi bi-funnel"></i>
          <span>Filtres</span>
        </h3>

        <div
          [ngClass]="
            role == 'super-admin'
              ? 'grid-cols-1 md:grid-cols-3'
              : 'grid-cols-1 md:grid-cols-2'
          "
          class="grid gap-4"
        >
          <!-- Faculté (super-admin seulement) -->
          <div *ngIf="role == 'super-admin'" class="form-group">
            <label class="block text-gray-700 text-sm font-medium mb-2"
              >Faculté</label
            >
            <div class="relative">
              <i class="bi bi-building absolute left-3 top-3 text-gray-400"></i>
              <select
                name="faculte"
                [ngModel]="this.examen.faculte"
                class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 appearance-none bg-white transition-all"
                (change)="faculteChange($event)"
              >
                <option value="" disabled>selectionner la faculte</option>
                <option value="medecine">medecine</option>
                <option value="pharmacie">Pharmacie</option>
                <option value="dentaire">Dentaire</option>
                <option value="fsts">Fsts</option>
                <option value="sante public">Santé Public</option>
              </select>
            </div>
          </div>

          <!-- Promotion -->
          <div class="form-group">
            <label class="block text-gray-700 text-sm font-medium mb-2"
              >Promotion</label
            >
            <div class="relative">
              <i
                class="bi bi-people-fill absolute left-3 top-3 text-gray-400"
              ></i>
              <select
                name="promotion"
                [ngModel]="this.examen.promotion"
                class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 appearance-none bg-white transition-all"
              >
              <option value="" disabled selected>Sélectionner la promotion</option>
              <option value="1ère annee">1ère année</option>
              <option value="2ème annee">2ème année</option>
              <option *ngIf="selectedFaculte !== 'sante public'" value="3ème annee">3ème année</option>
              <option *ngIf="selectedFaculte !== 'fsts' && selectedFaculte !== 'sante public'" value="4ème annee">4ème année</option>
              <option *ngIf="selectedFaculte !== 'fsts' && selectedFaculte !== 'sante public'" value="5ème annee">5ème année</option>
              <option *ngIf="selectedFaculte !== 'fsts' && selectedFaculte !== 'sante public'" value="6ème annee">6ème année</option>
              </select>
            </div>
          </div>

          <!-- Statut -->
          <div class="form-group">
            <label class="block text-gray-700 text-sm font-medium mb-2"
              >Statut</label
            >
            <div class="relative">
              <i
                class="bi bi-info-circle absolute left-3 top-3 text-gray-400"
              ></i>
              <select
                name="statut"
                [ngModel]="this.examen.statut"
                class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 appearance-none bg-white transition-all"
              >
                <option value="" disabled>selectionner le statut</option>
                <option value="en cours">En cours</option>
                <option value="archivé">Archivé</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Options FSTS -->
        <div
          *ngIf="selectedFaculte == 'fsts'"
          class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4"
        >
          <div class="form-group">
            <label class="block text-gray-700 text-sm font-medium mb-2"
              >Option</label
            >
            <div class="relative">
              <i class="bi bi-tag absolute left-3 top-3 text-gray-400"></i>
              <select
                name="option"
                ngModel
                class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 appearance-none bg-white transition-all"
              >
                <option value="" disabled selected>
                  Sélectionner l'option
                </option>
                <option value="IP">Infirmier Polyvalent</option>
                <option value="INP">
                  Infirmier en Néonatologie et Pédiatrie
                </option>
                <option value="IBO">Infirmier au Bloc Opératoire</option>
                <option value="IAR">Infirmier en Anesthésie Réanimation</option>
                <option value="OR">Orthophonie</option>
                <option value="OT">Orthoptie</option>
                <option value="PSY">Psychomotricité</option>
                <option value="KIN">Kinésithérapie</option>
                <option value="IM">Imagerie Médicale</option>
                <option value="TL">Technicien de Laboratoire</option>
                <option value="DN">Nutrition et Diététique</option>
                <option value="SF">Sage-femme</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- Bouton de soumission -->
      <div class="mt-8">
        <button
          type="submit"
          class="w-full bg-gradient-to-r from-green-500 to-green-600 hover:from-green-600 hover:to-green-700 text-white py-3 px-4 rounded-lg shadow-md transition-all duration-200 flex items-center justify-center gap-2"
        >
          <i class="bi bi-send-fill"></i>
          <span class="font-medium">Mettre à jour</span>
        </button>
      </div>
    </form>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>