<footer class="bg-slate-100 relative -z-10 img">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="https://flowbite.com/" class="flex items-center">
          <img
            src="../../../assets/images/logo_um6ss.png"
            class="h-8 me-3"
            alt="FlowBite Logo"
          />
          <span class="self-center text-2xl font-semibold whitespace-nowrap"
            >Absence App</span
          >
        </a> 
        <img src="../../../assets/images/logo_um6ss.png" width="250"/>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
            facultes
          </h2>
          <ul class="text-gray-500 font-medium">
            <li class="mb-4 flex items-center gap-2">
              <div class="w-4 h-4 bg-red-800"></div>
              <p>Fsts</p>
            </li>
            <li class="mb-4 flex items-center gap-2">
              <div class="w-4 h-4 bg-blue-400"></div>
              <p>Esgb</p>
            </li>
            <li class="mb-4 flex items-center gap-2">
              <div class="w-4 h-4 bg-green-800"></div>
              <p>Pharmacie</p>
            </li>
            <li class="mb-4 flex items-center gap-2">
              <div class="w-4 h-4 bg-blue-900"></div>
              <p>Medcine</p>
            </li>
            <li class="mb-4 flex items-center gap-2">
              <div class="w-4 h-4 bg-violet-600"></div>
              <p>Dentaire</p>
            </li>
          </ul>
        </div>

        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
            Statut Cours
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4 flex items-center gap-2">
              <div class="w-4 h-4 bg-slate-300"></div>
              <p>En attente</p>
            </li>
            <li class="mb-4 flex items-center gap-2">
              <div class="w-4 h-4 bg-green-800"></div>
              <p>En cours</p>
            </li>
            <li class="mb-4 flex items-center gap-2">
              <div class="w-4 h-4 bg-red-800"></div>
              <p>Termine</p>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
            Statut Examen
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4 flex items-center gap-2">
              <div class="w-4 h-4 bg-green-800"></div>
              <p>En cours</p>
            </li>
            <li class="mb-4 flex items-center gap-2">
              <div class="w-4 h-4 bg-red-800"></div>
              <p>Archivé</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© <span class="hover:underline">Abscence app</span>. All Rights
        Reserved.
      </span>
      <div class="flex">
        <a
          target="_blank"
          href="https://www.linkedin.com/company/universit%C3%A9-mohammed-vi-des-sciences-de-la-sant%C3%A9/posts/?feedView=all"
          class="text-gray-500 hover:text-gray-900 ms-5"
        >
          <i class="bi bi-linkedin"></i>
        </a>
        <a
          target="_blank"
          href="https://www.facebook.com/UM6SS/?locale=fr_FR"
          class="text-gray-500 hover:text-gray-900 ms-5"
        >
          <i class="bi bi-facebook"></i>
        </a>
        <a
          target="_blank"
          href="https://www.instagram.com/um6ss/"
          class="text-gray-500 hover:text-gray-900 ms-5"
        >
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
