

<div
class="examen bg-green-100"
  [ngClass]="[
    examen.statut == 'archivé' ? 'bg-red-100' : 'bg-green-100',
    examen.faculte == 'Pharmacie' ? 'border-l-4 border-l-green-800' :
    examen.faculte == 'Medcine' ? 'border-l-4 border-l-blue-800' :
    examen.faculte == 'Dentaire' ? 'border-l-4 border-l-violet-500' :
    examen.faculte == 'Esgb' ? 'border-l-4 border-l-blue-300' :
    examen.faculte == 'Fsts' ? 'border-l-4 border-l-red-700' :
    'border-l-4 border-l-blue-800'
  ]"
  
>
  <h3
    [ngClass]="examen.statut == 'archivé' ? 'text-red-800' : 'text-green-800'"
    class="font-bold text-md"
  >
    {{ examen.title }}
  </h3>
  <div class="mt-2 grid grid-cols-4 gap-3 items-start">
    <div>
      <div class="flex justify-between w-36">
        <h6 class="font-bold">Faculte :</h6>
        <p>{{ examen.faculte }}</p>
      </div>
      <div class="flex justify-between w-36">
        <h6 class="font-bold">Promotion :</h6>
        <p>{{ examen.promotion }}</p>
      </div>
    </div>
    <div>
      <div class="flex justify-between w-36">
        <h6 class="font-bold">Date :</h6>
        <p>{{ examen.date }}</p>
      </div>
      <div class="flex justify-between w-36">
        <h6 class="font-bold">heurs :</h6>
        <!-- <p>De {{ examen.hour_debut | date: 'HH:mm' }} a {{ examen.hour_fin | date: 'HH:mm' }}</p> -->
        <p>{{ examen.hour_debut }}-{{ examen.hour_fin }}</p>
      </div>
    </div>
    <div>
      <div class="flex justify-between w-36">
        <h6 class="font-bold">pointage :</h6>
        <p>{{ examen.hour_debut_pointage }}</p>
      </div>
      <div class="flex justify-between w-36">
        <h6 class="font-bold">Statut :</h6>
        <p>
          <span class="relative">
            <span
              [ngClass]="
                examen.statut == 'archivé' ? 'bg-red-500' : 'bg-green-500'
              "
              class="absolute -left-1 top-0.5 inline-flex h-1 w-1 animate-ping rounded-full opacity-75"
            ></span>
          </span>
          <span> {{ examen.statut }} </span>
        </p>
      </div>
    </div>
    <div class="ml-10">
      <button
        *ngIf="examen.statut == 'en cours'"
        (click)="onExplore(examen)"
        class="explorer bg-blue-400 hover:bg-blue-300 active:bg-blue-400 w-32 py-0 text-white rounded-sm flex justify-center gap-2"
      >
        <b>Explorer</b>
        <i class="bi bi-caret-right-fill"></i>
      </button>
      <button
        *ngIf="examen.statut == 'en cours' && (role == 'admin' || role == 'super-admin')"
        (click)="onArchive(examen)"
        class="explorer mt-0.5 bg-red-500 hover:bg-red-400 active:bg-red-500 w-32 py-0 text-white rounded-sm flex justify-center gap-2"
      >
        <b>Archiver</b>
        <i class="bi bi-archive-fill"></i>
      </button>
      <button
        *ngIf="examen.statut != 'en cours' && (role == 'admin' || role == 'super-admin')"
        (click)="onActiver(examen)"
        class="explorer mt-0.5 bg-green-500 hover:bg-green-400 active:bg-green-500 w-32 py-0 text-white rounded-sm flex justify-center gap-2"
      >
        <b>Activer</b>
        <i class="bi bi-archive-fill"></i>
      </button>
      <button
        *ngIf="(role == 'user' && examen.statut == 'archivé')"
        class="explorer invisible mt-0.5 bg-green-500 hover:bg-green-400 active:bg-green-500 w-32 py-0 text-white rounded-sm flex justify-center gap-2"
      >
        <b></b>
        <i class="bi bi-archive-fill"></i>
      </button>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>