<div>
  <form #f="ngForm" (submit)="onSubmit()" class="mt-5">
    <div class="flex gap-4 items-center justify-center flex-wrap">
      <!-- <div class="form-group border-collapse">
        <label
          class="bg-green-50 text-green-700 rounded-t-md px-6 py-2 flex items-center"
          > Année universitaire</label
        >
        <select
          class="bg-green-50 text-green-700 rounded-b-md px-6 py-2 flex items-center outline-none"
          ngModel
          name="anneeUniversitaire"
        >
          <option class="text-black" value="" disabled selected>
            Choisir une année universitaire
          </option>
          <option *ngFor="let annee of anneesUniversitaires" [value]="annee">
            {{ annee.annee }}
          </option>
        </select>
      </div> -->
      <!-- <div class="form-group border-collapse w-72">
          <label
            class="bg-green-50 text-green-700 rounded-t-md px-6 py-2 flex items-center"
            >Ecole</label
          >
          <select
            class="bg-green-50 text-green-700 w-full rounded-b-md px-6 py-2 flex items-center outline-none"
            ngModel
            name="anneeUniversitaire"
          >
            <option class="text-black" value="" disabled selected>
              choisir une école
            </option>
            <option *ngFor="let ecole of ecoles" [value]="ecole">
              {{ ecole.name }}
            </option>
          </select>
        </div> -->
      <!-- <div class="form-group border-collapse w-72">
          <label
            class="bg-green-50 text-green-700 rounded-t-md px-6 py-2 flex items-center"
            >Promotion</label
          >
          <select
            class="bg-green-50 text-green-700 rounded-b-md px-6 py-2 w-full flex items-center outline-none"
            ngModel
            #promo
            name="anneeUniversitaire"
            (change)="handlePromotion($event)"
          >
            <option class="text-black" value="" disabled selected>
              choisir une promotion
            </option>
            <option *ngFor="let promotion of promotions" [value]="promotion">
              {{ promotion.name }}
            </option>
          </select>
        </div> -->
    </div>
    <div
      *ngIf="role == 'super-admin'"
      class="m-auto flex justify-center custom-width"
    >
      <label
        class="bg-green-50 text-green-700 rounded-t-md px-6 py-2 flex items-center"
        >Faculte</label
      >
      <select
        class="bg-green-50 text-green-700 w-full rounded-b-md px-6 py-2 flex items-center outline-none"
        ngModel
        name="faculte"
      >
        <option class="text-black" value="" disabled selected>
          choisir une faculte
        </option>
        <option *ngFor="let ecole of ecoles" [value]="ecole.name.toLowerCase()">
          {{ ecole.name }}
        </option>
      </select>
    </div>
    <!-- <div> -->
    <div class="m-auto flex justify-center mt-4">
      <label
        for="import"
        class="import-etudiant cursor-pointer flex bg-green-50 py-1.5 text-green-800 rounded-sm"
        *ngIf="role == 'super-admin' || role == 'admin'"
      >
        <i class="bi bi-upload"></i>
        <p>Importer Etudiants</p>
        <input
          (change)="onFileSelected($event)"
          id="import"
          type="file"
          class="hidden"
          [files]=""
        />
      </label>
    </div>
    <!-- <div class="m-auto flex justify-center custom-width mt-4">
        <label
          class="bg-green-50 text-green-700 rounded-t-md px-6 py-2 flex items-center"
          >Faculte</label
        >
        <select
          class="bg-green-50 text-green-700 w-full rounded-b-md px-6 py-2 flex items-center outline-none"
          ngModel
          name="faculte"
        >
          <option class="text-black" value="" disabled selected>
            choisir une faculte
          </option>
          <option *ngFor="let ecole of ecoles" [value]="ecole.name">
            {{ ecole.name }}
          </option>
        </select>
      </div> -->
    <div class="m-auto flex justify-center">
      <input
        type="date"
        class="bg-green-50 py-1.5 custom-width mt-4 outline-none px-3"
        name="date"
        ngModel
      />
    </div>
    <div
      class="border border-green-50 rounded-md mt-4 px-2 bg-green-50 w-fit m-auto"
    >
      <input
        type="time"
        placeholder="start"
        class="bg-green-50 p-2 w-72 outline-none"
        name="hour1"
        ngModel
      />
      <input
        type="time"
        placeholder="end"
        class="bg-green-50 p-2 w-72 outline-none"
        name="hour2"
        ngModel
      />
    </div>
    <!-- </div> -->

    <div class="m-auto flex justify-center">
      <button
        class="custom-width bg-green-50 hover:bg-green-100 w-64 text-green-800 rounded-sm my-4 py-1.5"
      >
        <ng-container *ngIf="localStudents.length != 0">
          <i class="bi bi-arrow-clockwise"></i>
        </ng-container>
        {{ this.localStudents.length == 0 ? "Suivi l'exam" : "Recharger" }}
      </button>
    </div>
  </form>
</div>

<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>

<app-list-presence
  [totalEtudiant]="totalEtudiant"
  [totalPresent]="totalPresent"
  [etudiants]="localStudents"
  [studiantsWithFaceId]="studiantsWithFaceId"
  *ngIf="localStudents.length > 0"
  [promotion]="'1 ere'"
></app-list-presence>
