.import-etudiant {
    width: 591px;
    display: flex;
    justify-content: center;
    position: relative;
    gap: .5em;
    transition: all .1s ease;
}

.import-etudiant:hover {
    gap: 1em;
}

.custom-width {
    width: 591px;
}

