<div
  class="relative cours bg-green-100"
  [ngClass]="[
    getCoursStatusClass(),
    course.faculte == 'pharmacie'
      ? 'border-l-4 border-l-green-800'
      : course.faculte.toLowerCase() == 'medecine'
      ? 'border-l-4 border-l-blue-800'
      : course.faculte.toLowerCase() == 'dentaire'
      ? 'border-l-4 border-l-violet-500'
      : course.faculte.toLowerCase() == 'esgb'
      ? 'border-l-4 border-l-blue-300'
      : course.faculte.toLowerCase() == 'fsts'
      ? 'border-l-4 border-l-red-700'
      : 'border-l-4 border-l-blue-800'
  ]"
>
  <h3
    [ngClass]="statut == 'archivé' ? 'text-red-800' : 'text-green-800'"
    class="font-bold text-md"
  >
    {{ course.title | titlecase }}
  </h3>
  <div class="mt-2 grid grid-cols-4 gap-3 items-start">
    <div>
      <div class="flex justify-between w-48">
        <h6 class="font-bold">Faculte :</h6>
        <p>{{ course.faculte | titlecase }}</p>
      </div>
      <div class="flex justify-between w-48">
        <h6 class="font-bold">Promotion :</h6>
        <p>{{ course.promotion }}</p>
      </div>
      <div class="flex justify-between w-48">
        <h6 class="font-bold">Groupe :</h6>
        <p>{{ course.groupe }}</p>
      </div>
    </div>
    <div>
      <div class="flex justify-between w-48">
        <h6 class="font-bold">Date :</h6>
        <p>{{ course.date | date : "shortDate" }}</p>
      </div>
      <div class="flex justify-between w-48">
        <h6 class="font-bold">heurs :</h6>
        <!-- <p>De {{ course.hour_debut | date: 'HH:mm' }} a {{ course.hour_fin | date: 'HH:mm' }}</p> -->
        <p>
          {{ course.hour_debut | date : "shortTime" }}-{{
            course.hour_fin | date : "shortTime"
          }}
        </p>
      </div>
      <div *ngIf="course.faculte === 'fsts'" class="flex justify-between w-48">
        <h6 class="font-bold">Option :</h6>
        <p>{{ course.option | uppercase }}</p>
      </div>
    </div>
    <div>
      <!-- <div class="flex justify-between w-36">
        <h6 class="font-bold">pointage :</h6>
        <p>{{ course.hour_debut_pointage }}</p>
      </div> -->
      <div class="flex justify-between w-36">
        <h6 class="font-bold">Statut :</h6>
        <p>
          <span class="relative">
            <span
              [ngClass]="statut == 'terminé' ? 'bg-red-500' : statut == 'en attente' ? 'bg-slate-500' : 'bg-green-500'"
              class="absolute -left-1 top-0.5 inline-flex h-1 w-1 animate-ping rounded-full opacity-75"
            ></span>
          </span>
          <span> {{ this.statut }} </span>
        </p>
      </div>
    </div>
    <div class="ml-10">
      <button
        (click)="onExplore(course)"
        class="explorer bg-blue-400 hover:bg-blue-300 active:bg-blue-400 w-32 py-0 text-white rounded-sm flex justify-center gap-2"
      >
        <b>Explorer</b>
        <i class="bi bi-caret-right-fill"></i>
      </button>
    </div>
  </div>

  <i
    *ngIf="role == 'super-admin' || role == 'scolarite'"
    (click)="onDelete(course.id!)"
    class="bi bi-trash absolute top-0 right-0 translate-x-3 -translate-y-3 bg-red-800 text-white px-2 py-1 hover:bg-red-700 active:bg-red-800 rounded-md"
  ></i>
  <i
    *ngIf="role == 'super-admin' || role == 'scolarite'"
    (click)="onUpdate(course.id!)"
    class="bi bi-pencil absolute top-0 right-0 -translate-x-6 -translate-y-3 bg-blue-700 text-white px-2 py-1 hover:bg-blue-600 active:bg-blue-700 rounded-md"
  ></i>
</div>

<app-loading *ngIf="isLoading"></app-loading>
